tqdm==4.65.0
Pillow
opencv-contrib-python-headless==4.8.0.74
imageio
matplotlib<3.5
pyyaml
plyfile
kornia
open3d
timm==0.6.11
einops
evo
submodules/diff-gaussian-rasterization
submodules/simple-knn
submodules/Depth-Anything
submodules/Depth-Anything-V2
git+https://github.com/facebookresearch/pytorch3d.git@stable
git+https://github.com/princeton-vl/lietorch.git